<div class="bloc">
  <div class="Childbloc">
    <div class='title'>
      <h1 class='animate__animated animate__fadeInDown'>Your
        workplace insights, made easy.</h1>
    </div>
  
  </div>
  {{#if currentUser}}
  <h1 class='animate__animated animate__fadeInDown'>Open, Honest, Fair.</h1>
  {{else}}
  <div class='btn'>
    <a href='/auth/signup' id='signBtn'>Sign up now!</a>
  </div>
 {{/if }}
</div>