body {
    background-image: url('/images/layered-waves-haikei.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



#signBtn {
    font-weight: 800;
    color: #16123F;
    text-decoration: none;
    padding: 1rem 5rem;
    background-color: white;
    /* box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 4px 0px 0px rgba(117, 201, 183, 0.75);
    border-radius: 8px;
    margin-right: 1rem;
    bottom: 10rem;
    right: 78rem;
    transition: all 0.2s ease;
}

#signBtn:hover {
    transition: all 0.2s ease;
    transform: scale(1.1);
}

.bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}